.create_user{
    border: 5px solid black;
    width: 90%;
    margin: auto;
}
.namedetails{
    width: 40%;
    margin: auto;
    padding: 40px 40px;
    background-color: aqua;
    box-sizing: border-box;
    line-height: 2;
}
.create_user>h2{
 text-align: center;
;
}
.btn{
    width: 70%;
    margin: auto;
    background-color: green;
    color: white;
    font-size: 25px;
    margin-top: 25px;

}
.btn:hover{
    cursor: pointer;
}
/* .create_user>form>div{
    display: flex;
    justify-content: space-around;
    border: 1px solid red;
   font-size: 25px;
}
.create_user>form>div>input{
    width: 50%;
    margin-right: 50px;
} */